@font-face {
  font-family: 'Nova Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('NovaMono'), url(https://fonts.gstatic.com/s/novamono/v10/Cn-0JtiGWQ5Ajb--MRKvZ2Zc.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Overpass Mono Regular'), local('OverpassMono-Regular'), url(https://fonts.gstatic.com/s/overpassmono/v5/_Xmq-H86tzKDdAPa-KPQZ-AC1i-0sw.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Serif'), local('NotoSerif'), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Iaw1J5X9T9RW6j9bNfFcWbQ.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Overpass Mono', monospace;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Overpass Mono', monospace;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  min-height: 100%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto ;
}
@media (max-width:800px) {
  .container {
    max-width: 100%;
  }
}
nav {
  background-color: #FF7127;
}
nav .navStyle {
  width: 800px;
  margin: auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width:800px) {
  nav .navStyle {
    width: 100%;
  }
}
@media (max-width:500px) {
  nav .navStyle {
    flex-wrap: wrap;
  }
}
nav .navStyle .logo {
  display: flex;
  justify-content: center;
  width: 50%;
}
@media (max-width:500px) {
  nav .navStyle .logo {
    width: 100%;
  }
}
nav .navStyle .logo h1 {
  font-size: 3rem;
}
nav .navStyle .links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width:500px) {
  nav .navStyle .links {
    width: 100%;
    padding-top: 2%;
  }
}
nav .navStyle .links a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}
nav .navStyle .links a:hover {
  color: #AAAAFF;
}
.footer {
  position: relative;
  bottom: 0;
  width: 800px;
  margin: auto;
  padding-top: 3%;
  text-align: center;
  height: 50px;
}
@media (max-width:800px) {
  .footer {
    width: 100%;
  }
}
@media (max-width:500px) {
  .footer {
    position: relative;
    padding-top: 2%;
  }
}
.homeHead {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  margin-top: 10%;
}
.homeHead .phoneImg {
  width: 30%;
  display: flex;
  object-fit: cover;
  border-radius: 8px;
}
@media (max-width:800px) {
  .homeHead .phoneImg {
    width: 100%;
    height: 20vh;
    border-radius: 0;
  }
}
.homeHead .pitchDownload {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homeHead .pitchDownload h1,
.homeHead .pitchDownload p {
  padding: 3% 0;
  text-align: center;
}
@media (max-width:800px) {
  .homeHead .pitchDownload {
    width: 100%;
  }
}
.homeHead .pitchDownload .buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0;
}
.homeHead .pitchDownload .buttons btn {
  padding: 3% 5%;
  border: black 1px solid;
  font-size: 2.3rem;
  text-align: center;
  background-color: #FF7127;
}
.homeHead .pitchDownload .buttons btn:hover {
  background-color: #AAAAFF;
}
.homeHead .pitchDownload .buttons btn a {
  text-decoration: none;
  color: black;
}
@media (max-width:800px) {
  .reverse {
    flex-wrap: wrap;
  }
}
.team {
  display: flex;
  justify-content: center;
}
.team h1 {
  text-align: center;
  padding: 4% 0;
}
.row {
  display: flex;
  justify-content: space-around;
}
@media (max-width:500px) {
  .row {
    flex-direction: column;
  }
}
.row .person {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  margin-top: 88px;
  padding: 22px ;
  text-align: center;
}
.row .person li {
  font-size: 1.4rem;
  padding: 2% 0;
}
.row .person a {
  font-family: 'Noto Serif', serif;
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}
.row .person img {
  border-radius: 50%;
  height: 130px;
  margin: -66px 0 22px 0;
  vertical-align: top;
}
