.footer{
    position:fixed;
    bottom:0;
    width: 800px;
    margin: auto;
    text-align: center;
    @media @tablet{
        width: 100%;
    }
    @media @phone{
        position: relative;
        padding-top: 2%;
    }
    
    
}