.homeHead{
    .flex(space-around);
    flex-wrap: wrap-reverse;
    margin-top: 10%;
    
    .phoneImg{
        width: 30%;
        .flex(center);
        object-fit: cover;
        border-radius: 8px;
        @media @tablet{
            width: 100%;
            height: 20vh;
            border-radius: 0;
        }//tablet media query ending
    }//.phoneImg ending

    .pitchDownload{
        width: 50%;
        .flex(center);
        flex-direction: column;
        h1,p{
            padding: 3% 0;
            text-align: center;
        }//h1 p  ending
        @media @tablet{
            width: 100%;
        }//tablet media queury ending
        .buttons{
            .flex(space-evenly);
            margin: 5% 0;


            btn{
                .btnM(2.3rem,@orange);
                &:hover{
                    background-color: @purple;
                }//hover btn ending
                a{
                    text-decoration: none;
                    color: black;
                
                }//a btn ending 
                
               
                
            }//btn ending
        }//.buttons ending
    }//.pitchDownload ending

}//homeHead ending



.reverse {
    @media @tablet {
        flex-wrap: wrap;
    }//media query .reverse end

}//.reverse end