@import url('https://fonts.googleapis.com/css?family=Nova+Mono|Overpass+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

//fonts

@novaFont: 'Nova Mono', monospace;
@overFont: 'Overpass Mono', monospace;
@notoFont: 'Noto Serif', serif;

// Colors
@orange: #FF7127;
@purple: #AAAAFF;







